/* 組員頁專屬 */

.member {
    display: flex;
    gap: 30px;
    align-items: flex-start;
}

.member img {
    width: 150px;
    border-radius: 16px;
    box-shadow:
        0 12px 28px rgba(0,0,0,0.18),
        inset 0 0 0.5px rgba(255,255,255,0.5);
}
